<div class="container">
    <dx-tabs [dataSource]="tabs" (onItemClick)="selectTab($event)"></dx-tabs>
    <div class="left-content">
        <dx-tree-view [dataSource]="continents" selectionMode="none" itemTemplate="links">
            <div *dxTemplate="let link of 'links'">
                <div *ngIf="link.cities; else elseBlock" [routerLink]="['/countries/' + link.id]">
                    <span>{{ link.text }}</span>
                </div>
                <ng-template #elseBlock><span>{{ link.text }}</span></ng-template>
            </div>
        </dx-tree-view>
    </div>
</div>
<router-outlet></router-outlet>